<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284943499084-imihg3caofspmduoiua4lls6kmv1r5cf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284943499084-imihg3caofspmduoiua4lls6kmv1r5cf</string>
	<key>API_KEY</key>
	<string>AIzaSyAKEtAeHJKLt0FOh_lsfXpaqRHkMbGwnaE</string>
	<key>GCM_SENDER_ID</key>
	<string>284943499084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.npnsolutions.triya</string>
	<key>PROJECT_ID</key>
	<string>triya-937ac</string>
	<key>STORAGE_BUCKET</key>
	<string>triya-937ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284943499084:ios:b548cbf000472a460e19e9</string>
</dict>
</plist>